/**
 * font-family declarations
 * =========================
 * must stay on top
 * look at ../fonts/open-sans.css 
 * for dokumentation
 */
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/open-sans/open-sans/OpenSans-Light-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../fonts/open-sans/OpenSans-LightItalic-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/open-sans/OpenSans-Italic-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/open-sans/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('../fonts/open-sans/OpenSans-SemiboldItalic-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* About Default Styles
 * ---------------------
 * default.css is used to establish general rules, browser reset, or admin user interface styles.
 * Browser Reset
 * -------------
 * For a more complete reset, go to http://developer.yahoo.com/yui/reset/ */
* {
  margin: 0;
  padding: 0;
}
/* Font size to 10px at body */
html{
  font-size:1.25em;
}
body {
  font-size: 0.5em;
}

/* List styles. */
ul          { list-style-type: disc;   }
ul ul       { list-style-type: circle; }
ul ul ul    { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }

ol       { list-style-type: decimal;     }
ol ol    { list-style-type: lower-alpha; }
ol ol ol { list-style-type: decimal;     }

/* Abbreviation. */
abbr {
  cursor: help;
  white-space: nowrap; 
}
.element-invisible{
  margin:0;
  padding:0;
}

/* clear classes
 * -------------
 * clearfix comes 
 * from boilerplate
 * main.css
 */
.clearleft, .clearl, .cleft {
  clear: left;
}

.clearright, .clearr, .cright {
  clear: right;
}

.clear, .clearboth, .clearall {
  clear: both;
}

/* Float classes */
.floatleft, .fleft, .floatl {
  float: left;
  margin: 0 10px 5px 0;
}

.floatright, .fright, .floatr {
  float: right;
  margin: 0 0 5px 10px;
}

/* "Skip to Main Content" link
 * ---------------------------
 * This link useful for both visually impaired people and those with mobility impairments
 * who cannot use a mouse. http://www.webaim.org/techniques/css/invisiblecontent/ */
#skip{
  position:relative;
  height:0;
  top:20px;
  left:20px;
  z-index:100;
}
#skip li{
  list-style:none;
}
#skip a:link, #skip a:hover, #skip a:visited {
  position: absolute;
  left: -10000px;
  top: auto;
  display:block;
}
#skip a:active, #skip a:focus {
  left:auto;
  padding:3px 1em;
  background:#FFFFFF;
  color:#111111;
  outline:0;
  border:1px solid #111111;
  -webkit-box-shadow:  0px 0px 0px 10px rgba(0, 0, 0, 0.3);
  box-shadow:  0px 0px 0px 10px rgba(0, 0, 0, 0.3);
  
}

/* DRUPAL related stuff
 * --------------------
 */

/* bug fix with views 2 edit links. */
div.view div.views-admin-links {
  width: auto;
}

/* Rollover edit links for blocks. */
div.block {
  position: relative;
}
div.block .edit {
  display: none;
  position: absolute;
  right: -20px;
  top: -5px;
  z-index: 40;
  padding: 3px 8px 0;
  font-size: 10px;
  line-height: 16px;
  background-color: white;
  border: 1px solid #cccccc;
  /*let's get fancy! */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 0 1px 3px #888888;
  -webkit-box-shadow: -1px 1px 2px #666666;
}
div.block .edit a {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}
div.block:hover .edit {
  display: block;
}

/* Wireframe styles. */
.with-wireframes #header,
.with-wireframes #content-top,
.with-wireframes #content-top > *,
.with-wireframes #content-header,
.with-wireframes #content-header > *,
.with-wireframes #content-area,
.with-wireframes #content-area > *,
.with-wireframes #content-bottom,
.with-wireframes #content-bottom > *,
.with-wireframes #primary,
.with-wireframes #secondary,
.with-wireframes #sidebar-left-inner,
.with-wireframes #sidebar-right-inner,
.with-wireframes .block {
  padding: 2px;
  border: 1px solid #bbbbbb;
}
.with-wireframes .node {
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 10px;
}
.with-wireframes .block {
  margin-bottom: 3px;
}
.with-wireframes #content-top,
.with-wireframes #content-header,
.with-wireframes #content-area,
.with-wireframes #content-bottom {
  margin: 0 3px 3px;
}
.with-wireframes #footer {
  margin-top: 3px;
  padding: 2px;
  border: 1px solid #cccccc;
}
.with-wireframes.with-navigation #content,
.with-wireframes.with-navigation .sidebar {
  margin-top: 50px;
}
.with-wireframes #navigation {
  height: 50px;
}
/* UI improvments. */
#edit-title {
  font-size: 24px;
  width: 99%; 
}
#system-themes-form img {
  width: 100px; 
}
.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777; 
}
#edit-delete {
  color: #cc0000; 
}

/* Console, style from slate theme. */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee; 
}
div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55; 
}
div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522; 
}
div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77; 
}

