/* Font styles. */
body {
  /* Setting up font size, leading and font family */
  font-family:'open_sansregular', sans-serif;
  line-height:1.4;
}

/* Links */
a:link, a:visited {
  color:inherit;
  text-decoration: none; 
  font-weight:bold;
}
a:hover, a:active {
  color:inherit;
  text-decoration: underline; 
}

/** 
 * Titles 
 * ======
 * edit to your needs,
 * Example:
 * h2 {
 *   font-size: 1.5em;
 *   margin: 0.83em 0;
 * }
 */

.name-slogan{
  float:left;
}
/* take h1 default style for sitename even if its h2 */
#site-name {
  font-size: 2em;
  margin: 0.5em 0 0 0;
}
.title{
  float:none;
}

h1, h2, h3, h4, h5, h6, bold, strong {
  font-family:'open_sanssemibold';
  font-weight:normal;
}
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

/* Paragraph styles. */
p { }

/* Table styles. */
table { }
tr.even td,
tr.odd td {}
tr.odd {}

/* Code. */
pre, code, tt {}
pre {}

/* List styles. */
ul, ol { }

ul          { }
ul ul       { }
ul ul ul    { }
ul ul ul ul { }

ol       { }
ol ol    { }
ol ol ol { }

/* Abbreviation. */
abbr {}
.element-invisible{}

/* Navigations */
nav a{
  background:#FFE80F;
  white-space: nowrap;
}
nav a:link,
nav a:visited{
  color:#222222;
}
.main .title{
  color:#222222;
}
/* Region Colors. delete or edit when starting a new theme. */
.header-container, 
.footer-container,
.main aside {
  background: #fbc242; 
  border-color:#FFE80F;
  margin:0 0 1em 1em;
}
.ie9 .header-container, 
.ie9 .footer-container,
.ie9 .main aside{
  filter: none;
}
.header-container{}
.footer-container {}
#secondary{
}
.main aside{
  padding:0;
  width:38%;
}
.main aside .title{
  padding:0.8em 10%;
  margin:0;
  background:#FFE80F;
}
.main aside .menu,
.main aside .block,
.main aside .widget{
  margin:0 0 2em 0;
}
.main aside ul{
  padding:0;
  margin:0;
}
.main aside li{
  list-style:none;
  font-size:1.2em;
  padding:0.8em 10%;
  border-bottom:1px solid #FFE80F;
}
#logo{
display:block;
float:left;
margin:0 1em 1em 0;
}
#site-slogan{
  font-family:Georgia, sans-serif;
  font-style: italic;
  font-size:1.5em;
}
.content{
  font-size:1.4em;
}
.content .content{
  font-size:1em;
}
/* line 160, ../sass/style.sass */
#sidebar-first {
  background: #e7edff; }

/* line 163, ../sass/style.sass */
#sidebar-second {
  background: #ffd075; }

/* line 166, ../sass/style.sass */
#navigation {
  background: #feffa5; }

/* user menu */
#page_top-region{
  background:#464646;
  color:#CCCCCC;
}
#page_top-region .menu,
#page_top-region .sub-menu{
  list-style:none;
}
#page_top-region .menu li,
#page_top-region .sub-menu li{
  list-style:none;
  float:left;
  padding:0.3em;
}
#page_top-region .menu a,
#page_top-region .sub-menu a{
  display:block;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding:0.1em 0.5em;
}
#page_top-region .menu a:link,
#page_top-region .menu a:visited,
#page_top-region .sub-menu a:link,
#page_top-region .sub-menu a:visited{
  color:#CCCCCC;
  font-size:1.3em;
}
#page_top-region .menu a:hover,
#page_top-region .menu a:focus,
#page_top-region .sub-menu a:hover,
#page_top-region .sub-menu a:focus{
  color:#FFFFFF;
  text-decoration:none;
  background-color:#666666;
  -webkit-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.5);
}
#block-menu-menu-user-tasks{
  float:left;
}
#block-system-user-menu{
  float:right;
}
#block-menu-menu-user-tasks .home a {
    background-image: url(../images/toolbar.png);
    background-position:6px -45px;
    background-repeat:no-repeat;
    height: 14px;
    text-indent: -9999px;
    vertical-align: text-bottom;
    width: 11px;
}
#block-menu-menu-user-tasks div.contextual-links-wrapper{
  right:-30px;
}

/*
 * Sidebars Menus
 * --------------
 */
.sidebar .menu{}

.sidebar .menu,
.sidebar .sub-menu{
  list-style:none;
  padding:0;

}
.sidebar .menu li,
.sidebar .sub-menu li{
  list-style:none;
}
.sidebar .block-menu .block-title{
  font-size:1.4em;
  line-height:2.4285em;
  padding:0 5px;
  font-weight:bold;
  margin:0;
}
.sidebar .block-menu .content{
  padding:5px;
}
.sidebar .menu > li{
  padding:0.2em 0 0.3em;
  margin:0;
}
.sidebar .menu a{
  display:block;
  font-size:1.2em;
}